<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.harbortype.showTrueTypeCurves</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Show TrueType Curves</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/harbortype/ShowTrueTypeCurves/main/Show%20TrueType%20Curves.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/harbortype/ShowTrueTypeCurves</string>
	<key>productReleaseNotes</key>
	<string>Implements reading the TrueType Curve Error custom parameter and bug fixes.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Harbor Type, 2021</string>
	<key>NSPrincipalClass</key>
	<string>showTrueTypeCurves</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>